<nav class="navbar">
  <a href="/" class="navbar__brand">Rails Auth</a>

  <div class="navbar__links">
    <% if session[:user_id] %>
      <a href="/users" class="navbar__link">Usuários</a>
      <%= button_to 'Sair', '/logout', method: :delete, class: 'navbar__logout-btn', form: { class: 'navbar__logout-form' } %>
    <% end %>
  </div>
</nav>
