<%= turbo_frame_tag dom_id(pokemon) do %>
  <div style="margin-bottom: 10px;">
    <strong><%= pokemon.name %></strong>

    <%= link_to "Editar", edit_pokemon_path(pokemon) %>

    <%= link_to "Excluir",
        pokemon_path(pokemon),
        data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" } %>
  </div>
<% end %>