<h1>Meus Pokemons</h1>

<%= turbo_frame_tag "pokemons" do %>
  <%= render @pokemons %>
<% end %>

<h2>Novo Pokemon</h2>

<%= turbo_frame_tag "new_pokemon" do %>
  <%= render "form", pokemon: @pokemon %>
<% end %>